<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		{{{_sections.css}}}
	</head>
	<body>
		{{> navbar }}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">
							Danh sách danh mục
						</div>
						<div class="list-group">
							{{#each layoutVM.categories }}
								<a href="/product/bycat/{{CatID}}" class="list-group-item">
									{{CatName}}
								</a>
							{{/each}}
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Panel title</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
							{{{_sections.title}}}
							</h3>
						</div>
						<div class="panel-body">
							{{{body}}}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		{{{_sections.js}}}
	</body>
</html>