<html>
<head>
    <title>Sản phẩm yêu thích</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href=/CSS/popup_cart_desktop.css">
    <link rel="stylesheet" type="text/css" href="/CSS/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/CSS/owl.theme.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/css.css">
    <link rel="stylesheet" type="text/css" href="/CSS/jgrowl.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">

    <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/nhomsanpham.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/timkiem.css"/>

</head>
<body>







<div class="container">



    <h2 class="name_title">



        <p class="alignCenter">
            Tìm thấy 2 kết qua của từ khóa " <a href="#"><font color= #DC3333>iphone</font></a> "
        </p>

        <!-- Tìm thấy 2 kết quả của từ khoá "
           <a href="#">

                   abcbbbb

           </a> "  -->
    </h2>




    <div class="col-md-12 col-sm-12 col-xs-12 search_form_page" >
        <form action="" method="get" class="search_form_page_" role="search">
            <input placeholder="Nhập từ khóa cần tìm..." class="search_input_page" type="text" name="timKiem">
            <button class="submit_button" type="submit"><i class="btnsearch_page fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>










    <div class="block-title block">
        <h5>
            <span></span>
        </h5>
    </div>



    <!-- Sắp xếp theo thứ tự -->
    <div class="col-lg-12 col-md-12 hidden-sm-down  collection_header" style="line-height: 1">
        <div class="toolbar">
            <div id="sort-by">
                <label class="left">Sắp xếp theo : </label>
                <ul>
                    <li><span>Thứ tự</span>
                        <ul>
                            <li><a href="javascript:;" onclick="sortby('default')">Thời gian kết thúc giảm dần</a></li>
                            <li><a href="javascript:;" onclick="sortby('default')">Thời gian kết thúc tăng dần</a></li>
                            <li><a href="javascript:;" onclick="sortby('default')">Giá tăng dần</a></li>
                            <li><a href="javascript:;" onclick="sortby('default')">Giá gảm dần</a></li>


                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


{{#each timkiem123}}
    <!-- ô sản phẩm -->
    <div class="col-lg-12 col-md-12 collection_container list-items" style="line-height: 1">
        <table width="100%">
            <tbody>
            <tr>
                <th colspan="2">Mô tả sản phẩm</th>
                <th> Giá hiện tại </th>
                <th> Giá mua ngay </th>
                <th> Số lượt ra giá<br>hiện tại</th>
                <th> Thời gian còn lại</th>
            </tr>
            <!--sản phẩm 1-->
            <tr>
                <td class="mota" style="text-align: center">
                    <a href="Sản%20phẩm%20chi%20tiết/Dien-thoai.html" title="Samsung Galaxy Note 5">
                        <img src="../../public/Images/dienthoai1_1_medium.jpg" alt="Samsung Galaxy Note 5">
                    </a>
                </td>
                <td class="mota">
                    <div class="item_loop_list_title fs15">
                        <h3 class="fw_600"><a href="Sản%20phẩm%20chi%20tiết/Dien-thoai.html" title="Samsung Galaxy Note 5"> {{tensanpham}} </a></h3>
                    </div>
                    <div class="product-seller">
                        <p> Người bán:
                            <a href="#">{{abc.email}}</a>
                        </p>
                    </div>
                    <div class="product-sub">
                        <p> Mô tả:Samsung Galaxy Note 5 thiết kế khung kim loại...</p>
                    </div>
                </td>
                <td>
                    {{gia}}
                    <p>&nbsp;</p>
                    Người ra giá: <a href="#"><font color="#d2092d">{{email}}</font></a>
                </td>
                <td> <span> {{giamualien}} </span></td>
                <td> {{soluocdaugia}} </td>
                <td> 5 ngày <br/> 2:30:20
                    <p class="btn_see">
                        <a href="Sản%20phẩm%20chi%20tiết/Dien-thoai.html">
                            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                            Xem chi tiết</a>
                    </p>
                    <p class="btn_save" onclick="return false;">
                        <a href="">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            Lưu</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="border-under">
                </td>
            </tr>
        <br>
{{/each}}


            </tbody>
        </table>
    </div>














    <!-- số trang -->
    <div class="col-lg-12 col-md-12 menu">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>




</div>







</div>


















<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/JS/productreviews.min.js"></script>
<script type="text/javascript" src="/JS/owl_product_details.js"> </script>
<script type="text/javascript" src="/JS/owl.carousel.min.js"></script>






</body>
</html>